* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
html {
    line-height: 1.4;
    font-weight: 400;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    background: #2d7df0;
    margin: 0;
    font-family: sans-serif
}
header {
    color: white;
    padding: 1em;
    background: #2d7df0;
    text-align: center;
}
header h1 {
    margin: 0;
}
header nav {
    display: block;
    overflow: hidden;
}
header nav a {
    display: inline-block;
    padding: .75em;
    color: white;
    font-weight: 600;
    width: 100%;
    float: left;
}
a {
    outline: none;
    text-decoration: none;
}
footer {
    color: white;
    padding: 2em;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em 0;
    letter-spacing: -.02em;
}
h2 {
    font-size: 20pt;
    font-weight: 400;
    color: #2d7df0;
}
h4 {
    font-size: 15pt;
    font-weight: 300;
    color: #ff0802;
}
p {
    margin: 0;
}
p + p {
    margin-top: .75em;
}
div {
    padding: 1.5em;
    background: white;
}
div h3 {
    color: #2d7df0;
}
div p {
    color: #198d35;
}
main {
    background: lavenderblush;
    padding-bottom: 1.5em;
}
main section,
main aside {
    padding: 1.5em;
    padding-bottom: 0;
}
main article {
    padding: 1.5em;
    background: white;
    border-radius: 3px;
}
main article p {
    color: #198d35;
    line-height: 1.5;
}
table {
    line-height: 2;
    border-spacing: 2px;
}
tbody {
    color: #198d35;
}
th, td {
    padding-right: 70px;
}
.capsule {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #198d35;
}
.capsule  + .capsule {
    border-top: none;
}
.capsule:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.capsule:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (min-width: 800px) {
    header,
    main {
        overflow: hidden;
    }
    main section,
    main aside {
        float: left;
        width: 40%;
    }
    main section {
        width: 60%;
        padding-right: 0;
    }
    header h1 {
        float: left;
    }
    header nav {
        float: right;
    }
}