@(drinks: Seq[Drink], form: Form[Drink])(implicit messages: Messages)

@main("Drinks") {
<!DOCTYPE html>
  <html>
    <header>
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/basic.css")">
      <h1>Drinks</h1>
      <nav>
        <a href=/editDrinks>Edit drinks</a>
      </nav>
      <nav>
        <a href=/drinks>List drinks</a>
      </nav>
      <nav>
        <a href=/>Home</a>
      </nav>
    </header>
    <main>
      <aside>
        <div class="capsule">
          <h2>The current list of drinks</h2>
          <table>
            <thead>
              <tr><th>Name</th><th>Manufacturer</th><th>Price</th><th>Volume</th></tr>
            </thead>
            <tbody>
            @for(drink <- drinks) {
              <tr><td>@drink.name</td> <td>@drink.manufacturer</td> <td>@drink.price</td> <td>@drink.volume</td></tr>
            }
            </tbody>
          </table>
        </div>
      </aside>
      <aside>
        <div class="capsule">
          <h2>Add a drink</h2>
          @helper.form(routes.Application.createDrink()) {
            @helper.inputText(form("Name"), '_showConstraints -> false)
            @helper.inputText(form("Manufacturer"), '_showConstraints -> false)
            @helper.inputText(form("Price"), '_showConstraints -> false)
            @helper.inputText(form("Volume"), '_showConstraints -> false)
            <button type="submit">Create drink</button>
          }
        </div>
      </aside>
    </main>
    <footer>&copy; Lewis Hay, 2017</footer>
  </html>
}

